@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>
<br />
<br />
<a asp-action="Create" asp-controller="Employee" class="btn btn-primary">Create New Employee</a>
<br />
<form class="my-3" asp-action="Index">
    <div class="row">
        <div class="col-sm-8">
            <input placeholder="Search By Name" name="SearchValue" class="form-control" />
        </div>
        <div class="col-sm-4">
            <input type="submit" value="Search" class="btn btn-success btn-block" />
        </div>
    </div>
</form>
@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover table-bordered table-sm text-center  ">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(e=>e.Name)</th>
                <th>@Html.DisplayNameFor(e=>e.Image)</th>
                <th>@Html.DisplayNameFor(e=>e.Age)</th>
                <th>@Html.DisplayNameFor(e=>e.Address)</th>
                <th>@Html.DisplayNameFor(e=>e.Salary)</th>
                <th>@Html.DisplayNameFor(e=>e.IsActive)</th>
                <th>@Html.DisplayNameFor(e=>e.Department)</th>
                <th>@Html.DisplayNameFor(e=>e.Email)</th>
                <th>@Html.DisplayNameFor(e=>e.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(e=>e.HireDate)</th>

                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        @foreach (var employee in Model)
        {

            <tr>
                <td class="align-middle">@employee.Name</td>
                <td class="align-middle"><img src="~/files/Images/@employee.ImageName" alt="Image" width="40" height="40" class="img-fluid rounded" /></td>
                <td class="align-middle">@Html.DisplayFor(e=>employee.Age)</td>
                <td class="align-middle">@Html.DisplayFor(e=>employee.Address)</td>
                <td class="align-middle">@Html.DisplayFor(e=>employee.Salary)</td>
                <td class="align-middle">@Html.DisplayFor(e=>employee.IsActive)</td>
                <td class="align-middle">@employee.Department?.Name</td>
                <td class="align-middle">@Html.DisplayFor(e=>employee.Email)</td>
                <td class="align-middle">@employee.PhoneNumber</td>
                <td class="align-middle">@employee.HireDate</td>

                <partial name="ButtonsParitialView" model="@employee.Id.ToString()">
            </tr>
        }
    </table>

}
else
{
    <div class="mt-4 alert alert-warning">
        <h4> there is no Employee!</h4>
    </div>
}

